<!DOCTYPE html>
<html>
<head>
    <title>Safe-Tech</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">홈</a>
        {% if user.is_authenticated %}
            
            <a href="{% url 'camera_integration' %}">카메라 연동</a>
            <a href="{% url 'notifications' %}">알림 설정</a>
            <a href="{% url 'support_home' %}">개발진</a>
            
            <!-- 로그아웃을 위한 폼 -->
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
                    로그아웃
                </button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">로그인</a>
            <a href="{% url 'signup' %}">회원가입</a>
        {% endif %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>


